@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
html.dark {
  --richtext-background: 270 3.8461538461538463% 10.196078431372548%;
}
html {
  --richtext-background: 270 3.8461538461538463% 10.196078431372548%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --richtext-background: 270 3.8461538461538463% 10.196078431372548%;
    --background: 300 20% 99.01960784313727%;
    --foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --card: 270 19.999999999999943% 98.0392156862745%;
    --card-foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --popover: 300 20% 99.01960784313727%;
    --popover-foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --primary: 206.5531914893617 95.91836734693877% 48.03921568627451%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --muted: 270 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --accent: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
    --border: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --input: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --ring: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --base-1: 300 20% 99.01960784313727%;
    --base-2: 270 19.999999999999943% 98.0392156862745%;
    --base-3: 285 14.285714285714226% 94.50980392156862%;
    --base-4: 275.99999999999983 11.627906976744214% 91.5686274509804%;
    --base-5: 274.28571428571416 12.280701754385966% 88.8235294117647%;
    --base-6: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --base-7: 257.99999999999994 11.111111111111107% 82.35294117647058%;
    --base-8: 249.2307692307693 10.400000000000006% 75.49019607843137%;
    --base-9: 249.2307692307692 5.990783410138242% 57.45098039215686%;
    --base-10: 250.00000000000006 5.042016806722695% 53.333333333333336%;
    --base-11: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --base-12: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --accent-1: 0 100% 99.41176470588235%;
    --accent-2: 7.499999999999973 100% 98.43137254901961%;
    --accent-3: 10.434782608695613 92.00000000000003% 95.09803921568627%;
    --accent-4: 12.272727272727302 100% 91.37254901960785%;
    --accent-5: 10.819672131147556 100% 88.0392156862745%;
    --accent-6: 10.769230769230774 95.12195121951221% 83.92156862745098%;
    --accent-7: 10.32258064516129 82.30088495575224% 77.84313725490196%;
    --accent-8: 10.08849557522124 74.83443708609273% 70.3921568627451%;
    --accent-9: 10.163934426229506 77.8723404255319% 53.92156862745098%;
    --accent-10: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --accent-11: 9.893617021276597 81.73913043478261% 45.09803921568628%;
    --accent-12: 7.868852459016397 49.59349593495935% 24.11764705882353%;
  }
  .dark {
    --richtext-background: 270 3.8461538461538463% 10.196078431372548%;
    --background: 270 5.555555555555555% 7.0588235294117645%;
    --foreground: 240 6.249999999999978% 93.72549019607843%;
    --card: 270 3.8461538461538463% 10.196078431372548%;
    --card-foreground: 240 6.249999999999978% 93.72549019607843%;
    --popover: 270 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 240 6.249999999999978% 93.72549019607843%;
    --primary: 209.6938775510204 100% 61.568627450980394%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 3.8461538461538463% 10.196078431372548%;
    --secondary-foreground: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --muted: 270 3.8461538461538463% 10.196078431372548%;
    --muted-foreground: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --accent: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 269.99999999999994 5% 23.52941176470588%;
    --input: 269.99999999999994 5% 23.52941176470588%;
    --ring: 269.99999999999994 5% 23.52941176470588%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --base-1: 270 5.555555555555555% 7.0588235294117645%;
    --base-2: 270 3.8461538461538463% 10.196078431372548%;
    --base-3: 260.00000000000006 4.225352112676061% 13.92156862745098%;
    --base-4: 270 4.651162790697675% 16.862745098039216%;
    --base-5: 263.99999999999994 4.950495049504953% 19.80392156862745%;
    --base-6: 269.99999999999994 5% 23.52941176470588%;
    --base-7: 257.1428571428571 4.697986577181211% 29.215686274509807%;
    --base-8: 258.00000000000006 4.9999999999999964% 39.21568627450981%;
    --base-9: 250.90909090909096 4.803493449781661% 44.90196078431372%;
    --base-10: 250.90909090909085 4.31372549019608% 50%;
    --base-11: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --base-12: 240 6.249999999999978% 93.72549019607843%;
    --accent-1: 0 17.073170731707318% 8.03921568627451%;
    --accent-2: 10 24% 9.803921568627452%;
    --accent-3: 4.864864864864864 48.05194805194805% 15.098039215686276%;
    --accent-4: 3.934426229508196 64.21052631578948% 18.627450980392158%;
    --accent-5: 5 62.06896551724137% 22.745098039215687%;
    --accent-6: 6.923076923076925 54.929577464788736% 27.84313725490196%;
    --accent-7: 8.863636363636362 49.43820224719101% 34.90196078431373%;
    --accent-8: 10.434782608695647 50.21834061135372% 44.90196078431373%;
    --accent-9: 10.163934426229506 77.8723404255319% 53.92156862745098%;
    --accent-10: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --accent-11: 12.000000000000004 100% 74.50980392156863%;
    --accent-12: 10 85.71428571428571% 89.01960784313725%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }


}


.card-animated {
  height: calc-size(auto);
  transition: height 0.25s ease-in-out;
}

.richtext-bg-background {
  @apply bg-card text-card-foreground;
}
.richtext-outline {
  @apply outline outline-1 outline-input;
}

